body
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-color: #000000;
}
h2
{
  font-family: PTSans;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  }
h3
{
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  font-color: #000000;
}
.features b
{
  font-family: PTSans;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  font-color: #000000;
}
}
.main-header a
{
  font-family: PTSans;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  }

.content-description p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  font-variant: small-caps;
  font-color: #000000;
}
.news-preview li p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.index-content,
.breadcrumbs a
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.index-content-left,
.index-content-right,
.footer-contacts p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-footer .container p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
