body
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-color: #3c3c3c;
  min-width: 967px;
  height: auto;
  margin: 0;
  padding: 0;
  /*background: #ffffff url("img/fon1.jpg") no-repeat 50% 3px;*/
  background-image: url("fon1.jpg");
  background-size: 2500px auto;
}
.clearfix::after
 {
  content: "";

  display: table;
  clear: both;
}
.container
{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header
{
  margin-bottom: 60px;
}
.main-header-layout
{
  display: flex;
  justify-content: space-between;
}
.main-header-layout::before
{
   display: none;
  }
.main-navigation
{
  width: 780px;
  min-height: 20px;
  margin-top: 20px;
}
.main-navigation li
{
  float:left;
  padding: 0 4px;
}
.indexi-logo
{
  width: 111px;
  height: 24px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}
.user-block
{
  width: 140px;
  margin-left: 20px;
  min-height: 24px;
  margin-top: 35px;
}
.index-logo
{
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
.breadcrumbs
{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  min-height: 20px;
  margin-bottom: 30px;
}
.breadcrumbs::before
{
  display: none;
}
.breadcrumbs li
{
  float: left;
  padding: 0 4px;
  width: auto;
  height: 15px;
}
.features::before
{
  display: none;
}
.features
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.features-item
{
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

/*.features-item:last-child {
  margin-right: 0;
}*/
.index-content
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 50px 80px;
}
.index-content-left
{
  width: 380px;
  min-height: 330px;
}
.index-content-right
{
  width: 300px;
  min-height: 330px;
}
.index-content::before
{
  display: none;
}
.sidebar
{
  float: left;
  width: 220px;
  margin-top: auto;
  margin-right: auto;
}
.info-sidebar
{ float: left;
  width: 465px;
  min-height: 500px;
  margin-top: 10px;
  margin-right: 0px;
}
.inf-sidebar
{
  float: left;
  width: 520px;
  min-height: 160px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 50px;
}
.inf-sidebar:last-child
{
  margin-right: 0;
}
.content-right
{
  float: right;
  width: 400px;
  margin-top: 10px;
  margin-left: 20px;
}
.content-description
{
  float: right;
  width: 400px;
  min-height: 0px;
  margin-bottom: 30px;
}
.content-composition
{
  float: right;
  width: 400px;
  min-height: 0px;
  margin-bottom: auto;
}
.info
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  list-style: none;
  flex-direction:row;
  align-items: flex-start;
}
.info::before
{
  display: none;
}
.product1
{
  width: 227px;
  padding-top: 10px;
  padding-right: 10px;
}
.product2
{
  width: 227px;
  padding-right: 10px;
  padding-top: 10px;
}
.product3
{
  width: 227px;
  padding-right: 10px;
  padding-top: 10px;
}
.product4
{
  width: 227px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-right: 10px;
}
.product5
{
  width: 227px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-right: 10px;
}
.product6
{
  width: 227px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-right: 10px;
}
.transitions-menu
{
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-bottom: 50px;
  margin-left: 220px;
}
.transitions-menu::before
{
  display: none;
}
.main-footer
{
  height: 142px;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.main-footer-layout
{
  display: flex;
}
.main-footer-layout::before
{
  display: none;
}
.maina-footer
{
  float:left;
  min-height: 142px;
  min-width: 960px;
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-left: 200px;
  margin-right: auto;
}
.footera-contacts
{
  float:left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}
.footer-contacts
{
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}
.footer-social
{
  width: 180px;
  min-height: 90px;
}
.footera-social
{
  float:left;
  width: 180px;
  min-height: 90px;
  padding-bottom: 10px;
}
.footera-copyright
{
  float:right;
  width: 160px;
  min-height: 90px;
  margin-left: auto;
}
.footer-copyright
{
  width: 160px;
  min-height: 90px;
  margin-left: auto;
}
.index-content-title,
.container h2
{
  font-family: PTSans;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  }
.content-composition h3
{
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  font-color: #eeeeee;
}
.features b
{
  font-family: PTSans;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  font-color: #000000;
}
.main-header a
{
  font-family: PTSans;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  }
.content-description p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  font-variant: small-caps;
  font-color: #000000;
}
.news-preview li p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.index-content,
.breadcrumbs a
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.index-content-left,
.index-content-right,
.footer-contacts p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-footer .container p
{
  font-family: PTSans;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
